{% extends 'base.html' %} 
{% load static %}
{% block title %} Youth Ministry{% endblock %}

{% block content %}

<!-- header -->
<div class="youth-ministry-header position-relative">
    <h5 class="ministry-header-text text-light">Youth Ministry</h5>
</div>

<div class="text-center ministry-icon-cont position-relative bg-light top-50 start-50 translate-middle">
    <i class="fa-solid fa-children ministry-icon fa-2x text-danger"></i>
</div>

<div class="row container-fluid justify-content-center">
    <!-- ministry cont-->
    <div class="col-lg-8 col-md-8 col-sm-12">
        <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloremque maiores unde omnis velit dolore repellendus ducimus et fugit mollitia, recusandae quidem blanditiis dolorum iusto molestias harum. Alias, obcaecati blanditiis. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nulla quas veniam et ex natus expedita, optio officiis ea nisi, dolore fuga vero omnis nesciunt magnam quo labore animi distinctio consectetur. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Ut doloremque maiores unde omnis velit dolore repellendus ducimus et fugit mollitia, recusandae quidem blanditiis dolorum iusto molestias harum. Alias, obcaecati blanditiis. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nulla quas veniam et ex natus expedita, optio officiis ea nisi, dolore fuga vero omnis nesciunt magnam quo labore animi distinctio consectetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloremque
            maiores unde omnis <img src="images/youth.png" class="img-fluid float-start" alt="youth image"> velit dolore repellendus ducimus et fugit mollitia, recusandae quidem blanditiis dolorum iusto molestias harum. Alias, obcaecati blanditiis.
            Lorem ipsu m dolor sit amet consectetur adipisicing elit. Nulla quas veniam et ex natus expedita, optio officiis ea nisi, dolore fuga vero omnis nesciunt magnam quo labore animi distinctio consectetur.Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Ut doloremque maiores unde omnis velit dolore repellendus ducimus et fugit mollitia, recusandae quidem blanditiis dolorum iusto molestias harum. Alias, obcaecati blanditiis. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nulla quas veniam et ex natus expedita, optio officiis ea nisi, dolore fuga vero omnis nesciunt magnam quo labore animi distinctio consectetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloremque
            maiores unde omnis velit dolore repellendus ducimus et fugit mollitia, recusandae quidem blanditiis dolorum iusto molestias harum. Alias, obcaecati blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quas veniam
            et ex natus expedita, optio officiis ea nisi, dolore fuga vero omnis nesciunt magnam quo labore animi distinctio consectetur.
        </p> <br>
        <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloremque maiores unde omnis velit dolore repellendus ducimus et fugit mollitia, recusandae quidem blanditiis dolorum iusto molestias harum. Alias, obcaecati blanditiis. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nulla quas veniam et ex natus expedita, optio officiis ea nisi, dolore fuga vero omnis nesciunt magnam quo labore animi distinctio consectetur. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Ut doloremque maiores unde omnis velit dolore repellendus ducimus et fugit mollitia, recusandae quidem blanditiis dolorum iusto molestias harum. Alias, obcaecati blanditiis. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nulla quas veniam et ex natus expedita, optio officiis ea nisi, dolore fuga vero omnis nesciunt magnam quo labore animi distinctio consectetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloremque
            maiores unde omnis <img src="images/youth.png" class="img-fluid float-start" alt="youth image"> velit dolore repellendus ducimus et fugit mollitia, recusandae quidem blanditiis dolorum iusto molestias harum. Alias, obcaecati blanditiis.
            Lorem ipsu m dolor sit amet consectetur adipisicing elit. Nulla quas veniam et ex natus expedita, optio officiis ea nisi, dolore fuga vero omnis nesciunt magnam quo labore animi distinctio consectetur.Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Ut doloremque maiores unde omnis velit dolore repellendus ducimus et fugit mollitia, recusandae quidem blanditiis dolorum iusto molestias harum. Alias, obcaecati blanditiis. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nulla quas veniam et ex natus expedita, optio officiis ea nisi, dolore fuga vero omnis nesciunt magnam quo labore animi distinctio consectetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloremque
            maiores unde omnis velit dolore repellendus ducimus et fugit mollitia, recusandae quidem blanditiis dolorum iusto molestias harum. Alias, obcaecati blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quas veniam
            et ex natus expedita, optio officiis ea nisi, dolore fuga vero omnis nesciunt magnam quo labore animi distinctio consectetur.
        </p>
    </div>

    <!-- side bar -->
    <div class="col-lg-4 col-md-4 col-sm-12">
        {% include 'sidebar-cont.html' %}

    </div>
</div>
       
{% endblock %}